.contenedor {
	background: red;
	border-radius: 50%;
	border: 10px solid white;
	height: 350px;
	width: 350px;
	margin: 30px;
	max-width: 500px;
}
.circulo1 {
    background: red;
    border-radius: 50%;
    border: 30px solid white;
    height: 250px;
    width: 250px;
    margin: 19px;
    max-width: 300px;
}
.circulo2{
	background: blue;
    border-radius: 50%;
    border: 10px solid red;
    height: 150px;
    width: 150px;
    margin: 40px;
    max-width: 150px;
}
.star {
    position: relative;
    bottom: 2px;
    left: 6px;
    font-size: 150px;
    color:white;
}